<div id="container" style="width:800px; margin-left:auto; margin-right:auto;">

<%= image_tag 'dayincloud.png' %>

<br />
<hr>
<p align="center">
<%= link_to 'HOME', root_path %> | <%= link_to 'ABOUT', about_path %>
</p>
<hr>

<h1 align="center">This is the homepage</h1>

<p>Some text stuffSome text stuffSome text stuffSome text stuffSome text stuff</p>

<hr>